parameters:
    level: 0
    paths:
        - app
    excludePaths:
        - app/Modules/CRM/database
        - app/Http/Controllers
        - app/Modules/CRM/Http/Controllers
        - app/Models
        - app/Jobs
        - app/Core/Models/User.php
        - app/Core/Models/Meeting.php
        - app/Core/Models/MeetingAttendee.php
        - app/Core/Jobs/ProcessAutomations.php
        - app/Core/Http/Controllers/Auth/OAuthController.php
