includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 2
  paths:
    - app/
    - config/
    - routes/
  tmpDir: storage/framework/cache/phpstan
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  excludePaths:
    - app/Filament/
  tipsOfTheDay: false
  noUncheckedSymbols: true
