APP_NAME="Aquerii Super Admin"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=aquerii
DB_SUPERADMIN_USERNAME=aquerii_superadmin
DB_SUPERADMIN_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
